@model IEnumerable<StudentenBeheer.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <form asp-controller="Students" asp-action="Index" method="get">
        <small>Search Name or lastname </small> <input type="text" name="nameFilter"/>
        &nbsp;
         <small>Group:</small> 
         <select name="genderfilter" asp-items="@ViewBag.genderId">
            <option value="">All</option>
        </select>
        &nbsp;
        <input type="submit" value="Filter" />
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               <a> @Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                 <a>@Html.DisplayNameFor(model => model.Lastname)</a>
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                 <a>@Html.DisplayNameFor(model => model.Gender)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
